:root {
  --container-padding: 16px;
}

.container {
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
}

@media screen and (min-width: 400px) {
  :root {
    --container-padding: 24px;
  }
}

@media screen and (min-width: 640px) {
  :root {
    --container-padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --container-padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --container-padding: 64px;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --container-padding: 120px;
  }
}
