@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e0e8f6;
  --foreground: theme(colors.slate.700);
  --title-gradient: linear-gradient(to right, theme(colors.sky.400), theme(colors.slate.700));

  --header-height: 92px;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 100px;
  }
}

.light {
  color-scheme: light;
  /* variables will stay the same */
}

.dark {
  color-scheme: dark;
  --background: #1a1a1a;
  --foreground: theme(colors.zinc.300);
  --title-gradient: linear-gradient(to right, theme(colors.sky.400), theme(colors.white));
}

@layer base {
  .dark p {
    @apply text-neutral-200;
  }
}

@theme inline {
  --spacing: 1px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --text-5xl--line-height: 1.25;
}

* {
  scroll-padding-top: calc(var(--header-height) + 100px);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@keyframes menu-animate {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
